*.pyc
*.REMOTE.*
*.BASE.*
.*.*.swo
*.log
.venv
media
.idea
Web/local/
Conf/local*
tmp/
.coverage
nosetests.xml
cover/
*.org
.#*
virtualenvironment
virenv
local_venv.sh
local-uwsgi.ini
local_ser_flower
*.pyc
