.gitignore
*.json
*.pyc
*.mo
*.swp
*.orig
*.BACKUP.*
*.REMOTE.*
*.BASE.*
*.swp
.*.*.swo
*.log
.venv
flower.db
compressor
.ropeproject
media
.idea
Web/local/
Conf/local*
tmp/
.coverage
nosetests.xml
cover/
*.org
.#*
virtualenvironment
virenv
local_venv.sh
local-uwsgi.ini
local_ser_flower
