{% extends "blog/head.html"%}
{% block content %}
{% load myfilter %}
<style>
body{font-size:14px;}
.box{width:1200px; float:left;}
ul,body,dd,li{ list-style:none;
margin:0;padding:0; }
.page{ height:58px; width:600px; float:left; padding-left:200px; text-align:center;}
.link_block { padding:5px 10px 5px 12px; border:1px solid #CCC; display:inline-block; text-decoration:none; background:#fff;}
.link_block:hover{padding:5px 0px px 12px; background: #CCC;}
.link_block a:link{text-decoration: none;}
.input_text {
        width: 30px;
        border-style: solid ;
        border-width: 1px, 1px, 1px;
        border-color: #CECFD7;
}
.prompt_word { display:inline-block; color: #555;}
.current {padding:5px 10px 5px 12px; border:1px solid #CCC; display:inline-block; text-decoration:none; background:#CCC;}
</style>

	 </h1>
{% if shopping|length >= 1 %}
  	{% for em in shopping %}
  	 <div class="box" style="padding:5px 0px 0px 100px;">
		 <div style="width:120px;float:left;padding:15px;"><img src={{em.image_url}}></img></div>
		 <div style="width:800px;float:left; padding:30px 10px 10px 0px;">
			 <div style="color:#bbgg55; width:800px;height:36px;float:left;font-size:16px;">{{em.name}}</div>
			 <div style="width:800px;float:left;">
				 <div style="width:50px;height:30px;float:left;padding:6px 0px 0px 0px;">当前价:</div>
				 <div style="width:120px;height:36px;float:left;line-height:30px;font-size:18px;color:red;"><i>¥</i>  {{em.price}}</div>
				 <div style="width:100px;height:30px;float:left;padding:6px 0px 0px 0px;">
						 {% if em.ch_price == 'stable' %}<p>价格未变</p>
						 {% elif em.ch_price == 'up' %}<p style="color:#f60;">价格上涨</p>
						 {% else %}<p style="color:green"> 价格下降</p>
						 {% endif %}
				 </div>
				 <div style="width:200px;height:30px;float:left;padding:6px 0px 0px 0px;">
					 <a href="{{em.url}}" style="font-size:16px;">立即到官网购买</a>
				 </div>
			 </div>

			 <div style="width:60px; height:36px;float:left;">更新时间:</div>
			 <div style="width:160px;height:36px;float:left;line-height:24px;">{{em.crawl_time|formatTime}}</div>
			 <!-- <div style="width:50px;"><img alt="" title="" src="/static/blog/images/tooldown.png"/> </div> -->

			 <div style="width:100px;float:left">查看历史价格:</div>
			 <div style="width:100px;float:left;">
				 <span style="float:right;padding-right:80px;"><a href="tool/?phone_id={{em.ident}}">
      	 		 <img alt="" title="" src="/static/blog/images/toolhistory.png"/></a></span>
     		 </div>
		 </div>

                 
     </div>
      <!-- <form name="input" action="http://localhost:8000/cgi-bin/myscript.py" method="get">
        <input type="submit" value="监控">
      </form> -->
 	 </div> 
{% endfor %}
{% else %}
<div style="color:#bbbfff ;font-size:28px;padding:40px 0px 0px 80px;">暂无监控任何商品
<span style="color:#bbbfff ;font-size:18px;"><a href="{% url 'blog:spider' %}">编辑爬虫</a></span>
</div>

   {% endif %}


	<div class="page"; style="width:800px;">
		{% if context.has_previous %}
			<div class="link_block">
				<a href="?page={{ context.previous_page_number }}">
					&lt;&lt; 上一页
				</a>
			</div>
		{% endif %}

		<span>
		{% if num_pages >= 2 %}
			{% for p in page_list %}

				{% ifequal p context.number %}

					<div class="current">{{p}}</div>

				{% else %}

					<div class="link_block"><a href="?page={{p}}" title="第{{p}}页">{{p}}</a></div>

				{% endifequal %}

			{% endfor %}

		</span>

			{% if context.has_next %}
				<div class="link_block"> <a href="?page={{ context.next_page_number }}">下一页&gt;&gt;</a></div>
			{% endif %}
				<div class="prompt_word";>
					<form method="get" name="filterPageForm">到第
    					<input class="input_text" type="text" value="1" size="1" name="page">页
						<button class="ui-btn-s" type="submit">确定</button>
					</form>
				</div>

				<div class="prompt_word">
					<a>[第{{pk}}/{{ context.paginator.num_pages }}页]</a>
				</div>
		{% endif %}

	</div>

{% endblock %}

