{% extends "blog/head.html"%}
{% block content %}
{% load myfilter %}
<style>
    #to-shopping{background:#558899;}
	body{font-size:12px; background:#fffff;}
	.box{float:left;padding:10px 0px 0px 120px;}
	ul,body,dd,li{ list-style:none;margin:0;padding:0; }
	.link_block { padding:5px 10px 5px 12px; border:1px solid #CCC; display:inline-block; text-decoration:none; background:#fff;}
	.link_block:hover{padding:5px 0px px 12px; background: #CCC;}
	.link_block a:link{text-decoration: none;}
	.input_text {
		width: 30px;
		border-style: solid ;
		border-width: 1px, 1px, 1px;
		border-color: #CECFD7;
	}
	.prompt_word { display:inline-block; color: #555;}
	.current {padding:5px 10px 5px 12px; border:1px solid #CCC; display:inline-block; text-decoration:none; background:#CCC;}
	.close-button a{color:white; height:40px; text-decoration: none; line-height:40px; background:#228899; margin-up:20px; padding:6px 15px 6px 15px; }
	.close-button a:link{}
	.close-button a:visited{}
	.close-button a:hover{background:#778899;}
	.close-button a:active{}

</style>

	 </h1>
{% if shopping|length >= 1 %}
<div style="height:10px;"></div>
<div style="padding:0px 0px 10px 120px;font-size:16px;">更新时间:&nbsp&nbsp
	  <span style="color:#F05301; font-size:20px;">{{shopping.0.crawl_time|formatTime}}</span></div>
  	{% for em in shopping %}
  	 <div class="box" >
		 <div style="width:120px;float:left;padding:0px;"><img src={{em.image_url}}></img></div>
		 <div style="width:800px;float:left; padding:0px 10px 10px 0px;">
			 <div style="color:#bbgg55; width:800px;height:36px;float:left;font-size:14px;">{{em.name}}</div>
			 <div style="width:800px;float:left;">
				 <div style="width:60px;height:30px;float:left;">当前价:</div>
				 <div style="width:100px;height:30px;float:left;line-height:20px;font-size:18px;color:red;"><i>¥</i>  {{em.price}}</div>
				 <div style="width:80px;height:30px;float:left;">
						 {% if em.ch_price == 'stable' %}<p>价格未变</p>
						 {% elif em.ch_price == 'up' %}<p style="color:#f60;"><img alt="" title="" src="/static/blog/images/toolup.png"/> 价格上涨</p>
						 {% else %}<p style="color:green;"><img alt="" title="" src="/static/blog/images/tooldown.png"/> 价格下降</p>
						 {% endif %}
				 </div>
				 <div style="width:160px;height:30px;float:left;">
					 <a href="{{em.url}}" style="font-size:14px;">立即购买</a>
				 </div>
			 </div>


			 <!-- <div style="width:50px;"><img alt="" title="" src="/static/blog/images/tooldown.png"/> </div> -->

			 <div style="width:80px;float:left">查看历史价格:</div>
			 <div style="width:100px;float:left;">
				 <span style="float:left;padding:4px 0px 0px 10px;"><a href="tool/?phone_id={{em.ident}}">
      	 		 <img alt="" title="" src="/static/blog/images/toolhistory.png"/></a></span>
     		 </div>
		 </div>

                 
     </div>
      <!-- <form name="input" action="http://localhost:8000/cgi-bin/myscript.py" method="get">
        <input type="submit" value="监控">
      </form> -->
 	 </div> 
{% endfor %}
{% else %}
  {% if error_url %}
		<div style="color:#bbbfff ;font-size:28px;padding:40px 0px 0px 80px;">暂时没有搜集到商品&nbsp&nbsp
		<span class="close-button" style="color:#bbbfff ;font-size:18px;"><a href="{% url 'blog:index' %}">刷新</a></span>
		</div>
		<div style="color:red ;font-size:18px;padding:40px 0px 0px 80px;">如果尝试刷新多次无效,可能是提供的网址不正确</div>
	{% else %}
	 	<div style="color:#bbbfff ;font-size:28px;padding:40px 0px 0px 80px;">暂无监控任何商品
		<span style="color:#bbbfff ;font-size:18px;"><a href="{% url 'blog:spider' %}">编辑爬虫</a></span>
		</div>
  {% endif %}
   {% endif %}


{% endblock %}

