<form class="form_login" action="." method="post">
    <div>{{form.cycle.label}}:</div>
        <div>{{form.cycle}}</div>
    {% if form.errors.cycle %}
        <span style="color:red;">{{form.errors.cycle}}</span>
    {% endif %}
    <div class="confirm_login"><button>抓取</button></div>
    {% if p %}
        <span style="color:red;">抓取中.... 进程号{{proc}}</span>
    {% endif %}
        <span>{{p}}</span>

</form>
<a href="{% url 'blog:spider' %}?kill=True&proc={{proc}}">停止</a>
{% if msg %}
        <span style="color:red;">{{msg}}</span>
    {% endif %}