{% extends "blog/head.html"%}
{% block content %}
<style>
    body{background:#eeefff}
    #to-spider{background:#558899;}
    .spider-box{height:140px;padding:50px;}
    .left-able{float:left;}
    .right-pn{padding:2px 0px 0px 20px;}
    .run-spider{padding:20px 0px 0px 580px;}
    .start-spider{padding:10px 0px 0px 0px;}
    .message-pn{padding:0px 0px 0px 50px;}
    .close-button a{color:white; height:40px; float: left; text-decoration: none; line-height:40px; background:#228899; margin-up:20px; padding:0px 15px 0px 15px; }
	.close-button a:link{}
	.close-button a:visited{}
	.close-button a:hover{background:#778899;}
	.close-button a:active{}
    .running{line-height:40px;font-size:20px; padding-right:20px;}
    .run-spider{padding:30px 0px 0px 160px;}
    .image{padding-right:40px;}
    #id_url{width:550px;height:185px;}
    #id_email{width:170px;height:25px;}

</style>
<script type="text/javascript"  language="javascript" src="/static/blog/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript">
$(function(){
}).on('click', '#nn', function(){
  $('#show-pn').show();
}).on('click', '#pp', function(){
  $('#show-pn').hide();
})
</script>
{% if spider %}
    <div class="run-spider">
            <div class="left-able running">已启动...</div>
            <div class="left-able image"><img src="/static/blog/images/wait.gif" /></div>
            <div class="left-able close-button"><a href="{% url 'blog:spider' %}?kill=True">{{spider}}</a><div>
    </div>
{% else %}
    <div class="spider-box">
        <form class="form_login" action="." method="post">
            <div class="left-able url_red">{{form.url}}</div>
            <div style="height:180px;width:20px;float:left;"></div>
            <div class="left-able ">{{form.cycle.label}}:</div>
            <div>{{form.cycle}}</div>
            <div style="color:blue;">变价后是否邮件提醒</div>
            <p class="right-png" id="pp" style="float:left;"><input type="radio" value="no" name="email-select">否&nbsp&nbsp&nbsp&nbsp</p>
            <p class="right-png" id="nn"><input type="radio" value="yes"checked {% if selected %}checked{% endif %} name="email-select">是</p>
            <div id="show-pn" class="right-pn">
                <div class="">{{form.email.label}}</div>
                <div class="email-pn">{{form.email}}</div>
                {% if email_er %}
                <style> #id_email{border:1px solid red;}</style>
                <div style="color:red;">{{email_er}}</div>
                {% endif %}
            </div>
            <div class="start-spider"><button>启动爬虫</button></div>

        </form>
    </div>
                {% if msg %}
                <div class="message-pn" style="color:red;">{{msg}}</div>
                <style> .url_red{border:1px solid red;}</style>
                {% endif %}
    <div class="message-pn">注意: 一个网址为一行,最多填写十个网址
    </div>
{% endif %}
{% endblock %}
